#battle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

button.attack {
  padding: 1em;
  margin: 0.25em;
}

li {
  margin-bottom: 5px;
}
