#battle {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fighter {
  flex-grow: 1;
}

button.attack {
  padding: 1em;
  margin: 0.25em;
}

li {
  margin-bottom: 5px;
}
